<%= form_for(@recipe) do |f| %>
   <h1>Editar Receitas</h1>
   <h4><%= @recipe.name.upcase %></h4>
    <p>
      <%= f.label :Nome %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :Ingredientes %><br />
      <%= f.text_area :stuff, cols:40, rows: 5 %>
   </p>
   <p>
      <%=f.label :Calorias %><br />
      <%= f.number_field :calories %>
   </p>
   <p>
      <%= f.label :Modo_de_preparo %><br />
      <%= f.text_area :prepare_mode, cols:50, rows: 5 %>
   </p>
   <p>
      <%= f.label :Custo %><br />
      <%= f.number_field :cost %>
   </p>
   <%= f.submit %>
<% end %>
