<h1>Receitas</h1>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>nome:</th>
            <th>Ingredientes:</th>
            <th>calorias:</th>
            <th>modo de preparo:</th>
            <th>Custo de preparo:</th>
        </tr>
    </thead>
    <tbody>
        <%@recipes.each do |recipe|%>
            <tr>
                <th><%= link_to recipe.name ,   recipe %></th>
                <th><%= truncate(recipe.stuff, lenght: 50, separator: ' ' ) %></th>
                <th>
                  <%=format_calories(recipe)%>
                </th>
                <th><%= recipe.prepare_mode %></th>
                <th><%= number_to_currency(recipe.cost) %></th>
            </tr>
        <%end%>
    </tbody>
</table>
